<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921544311332-bh93tb141ejp9dg9a4j9kt1jt2komrb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921544311332-bh93tb141ejp9dg9a4j9kt1jt2komrb2</string>
	<key>API_KEY</key>
	<string>AIzaSyDmtiXvZV1k7x3XFduC7syi9TcAn5a7K80</string>
	<key>GCM_SENDER_ID</key>
	<string>921544311332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.voskcoin</string>
	<key>PROJECT_ID</key>
	<string>voskcoin-55f3a</string>
	<key>STORAGE_BUCKET</key>
	<string>voskcoin-55f3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921544311332:ios:7b94b39add7a00f765ceb1</string>
</dict>
</plist>